@model testProject2.Models.user
@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page">
    <div class="page-single">
        <div style="height:20rem;"></div>
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <img src="./assets/brand/tabler.svg" class="h-6" alt="">
                    </div>
                    <form class="card" action="" method="post">
                        @Html.HiddenFor(u => u.id)
                        <div class="card-body p-6">
                            <div class="card-title">Change password</div>

                            <div class="form-group">
                                @Html.Label("Enter Your Original Password")
                                <input type="password" name="OP" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="exampleInputEmail1">Enter your New Password</label>
                                @Html.PasswordFor(n => n.password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(n => n.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="exampleInputEmail1">ConfirmPassword</label>
                                @Html.PasswordFor(n => n.confirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(n => n.confirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">save</button>
                                @if (ViewBag.mes != null)
                                {
                                    <h5>@ViewBag.mes</h5>
                                }
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

